body {
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50)), url(img/college-5757815_1280.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }
  
  h2 {
    color: #343a40;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #495057;
  }
  
  input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: #009688;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
  }
  
  button:hover {
    background-color: #0056b3;
  } 
  

  .form-group a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .switch-form {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .switch-form a {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.3s ease;
  }
  
  .switch-form a:hover {
    color: #0056b3;
  }
  
  #register-form {
    display: none;
  }
  
  .background-gradient {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  
  .background-gradient .form-container {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

.qwerty {
  text-decoration: none;
  color:red;
}

.dashboard {
  text-decoration: none;
  color: #fff;
}